*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Spartan', sans-serif; 
    background-color: hsl(0, 0%, 100%);
    width: 100vw;
    height: 100%;
    font-size: 15px;
}

.container{
    max-width:375px;
    height: auto;
    justify-content: center;
    margin: 0 auto;
    background-image: url(/images/bg-pattern-top-mobile.svg), url(/images/bg-pattern-bottom-mobile.svg);
    background-position: top, bottom;
    background-repeat: no-repeat;
    padding: 80px 30px;
    
}
.text{
    margin: 0 0 40px 0;
}
.text__h1{
    color:hsl(300, 43%, 22%);
    text-align: center;
    margin-bottom: 20px;  
}

.text__p{
    text-align: center;
    font-weight: 500;
    font-size: 0.9em;
    line-height: 25px;
    color: hsl(303, 10%, 53%);
}
.stars{
    color: hsl(300, 43%, 22%);
    font-weight: 700;
    text-align: center;
    font-size: 0.8em;
}
.stars__icon1{
    background-color: hsl(300, 24%, 96%);
    padding: 15px 0;
    margin:15px 0 0 0;
    border-radius: 5px;
}

.stars__icon2{
    background-color: hsl(300, 24%, 96%);
    padding: 15px 0;
    margin:15px 0 0 0;
    border-radius: 5px;
    
}
.stars__icon3{
    background-color: hsl(300, 24%, 96%);
    padding: 15px 0;
    margin:15px 0 0 0;
    border-radius: 5px; 
}

.stars__icon{
    padding: 5px;
}
.opinion-box{
    margin-top: 60px;
}
.opinion-box__colton{
    background-color: hsl(300, 43%, 22%);
    border-radius: 5px;
    padding: 30px;
    margin:15px 0;
    color:hsl(0, 0%, 100%);
    font-weight: 400;
    font-size: 0.9em;
}
.opinion-box__irene{
  
    background-color: hsl(300, 43%, 22%);
    border-radius: 5px;
    padding: 30px;
    margin:15px 0;
    color:hsl(0, 0%, 100%);
    font-weight: 400;
    font-size: 0.9em;
}
.opinion-box__anne{
    background-color: hsl(300, 43%, 22%);
    border-radius: 5px;
    padding: 30px;
    margin:15px 0;
    color:hsl(0, 0%, 100%);
    font-weight: 400;
    font-size: 0.9em;
}

.opinion-box p{
    line-height: 20px;
    font-size: 0.95em;
}
.avatar{
    margin-bottom: 20px;
    margin-top: 10px;
    height: 40px;
    display: flex;
    line-height: 20px;
}
.avatar img{
    border-radius: 50px;
    width:40px;
    align-self: center;
    float: left;
    margin-right: 20px;
}
.avatar__text{
    font-size: 0.9em;
}
.avatar__color{
    font-weight: 700;
}
.avatar__buyer-color{
    color:hsl(333, 80%, 67%);
}

@media (min-width: 376px){
   .container{
        max-width: 1440px;
        background-image: url(/images/bg-pattern-top-desktop.svg), url(/images/bg-pattern-bottom-desktop.svg);
        display: flex;
        padding:150px;
        flex-direction: row;
        flex-wrap: wrap;
        
   } 
   .text{
        flex: 1 200px;
        flex-basis: 50%;
        padding-right: 130px;
        }
    .text__h1{
        text-align: left;
        font-size: 3em;
        line-height: 45px;
    }
    .text__p{
        text-align: left;
        
    }
   .stars{
       flex: 200px;
       flex-basis: 50%;
       display: grid;
       grid-template-columns: repeat(10, 1fr);
       grid-auto-rows: minmax(65px, auto);
    
   }
   .stars__icon1{
       
       grid-column: 1 / 9;
       grid-row: 1;
       padding: 0 ;
       
     
   }
   .stars__icon2{
        grid-column: 2 / 10;
        grid-row: 2;
       
   }
   .stars__icon3{
        grid-column: 3 / 11;
        grid-row: 3;
    
   }
   .stars__icon{
       padding: 0 3px;
       float: left;
       
   }
   .opinion-box{
        flex: 2;
        flex-basis: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(10, 1fr);
        grid-auto-rows: minmax(65px, auto);
        grid-gap: 30px;
   }

   .opinion-box__colton{
       grid-column:1;
       grid-row: 1 / 9;
   }
   .opinion-box__irene{
       grid-column: 2;
       grid-row:2 / 10;
   }
   .opinion-box__anne{
        grid-column: 3;
        grid-row: 3 / 11;
   }

}